body {
    font-family: monospace;
}
#mapid {
    height: 180px;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.green {
    color: green;
}
#image-captures {
    display: flex;
    width: 100%;
    background: wheat;
}
#image-captures img {
    height: 100px;
}
